html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #222;
    font-family: 'Poppins', sans-serif;
}
b{
    color: rgb(255, 136, 0);
}

/*start navbar*/
#navbar{
    overflow: auto;
    background-color: #111;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    color: white;
    z-index: 1;
}
#navbar h1{
    margin-left: 20px;
    font-family: 'Ubuntu', sans-serif;
}
#navbar ol{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
#navbar li{
    float: left;
}
#navbar li:hover{
    transform: translateY(-3px);
    transition: all 0.1s linear;
}
#navbar li a{
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 5px;
    transition: all 0.5s linear;
}
#navbar button{
    margin-right: 20px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}
.menu{
    justify-content: end;
    width: 100%;
    display: none;
    animation: animasi2 2s alternate;
}
.menu i{
    font-size: 40px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*end navbar*/

/* sidebar start */
#sidebar{
    position: fixed;
    align-items: center;
    bottom: 0;
    top: 0;
    width: 50%;
    left: -50%;
    background-color: rgba(0, 0, 0, 0.90);
    display: none;
}
#sidebar ol{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
#sidebar li{
    display: flex;
    padding: 0px;
    transition: all 0.5s linear;
}
#sidebar li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 50px;
    transition: all 0.5s ease;
}
#sidebar li:hover{
    background-color: white;
}
#sidebar li a:hover{
    color: black;
}
#sidebar button{
    font-size: 40px;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    color: white;
}
/* sidebar end */

/*start home*/
#home{
    height: 100vh;
}
#home .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    width: 100%;
}
#home .col{
    display: flex;
    justify-content: center;
    width: 50%;
    animation: animasi2 2s alternate;
}
#home .desk h1, h2, h3{
    margin: 0;
}
#home .image{
    background-image: url("assets/profil.jpeg");
    filter: saturate(50%);
    background-size: cover;
    background-position: 0 -100px;
    border-radius: 10px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 520px;
}
#home .sosmed{
    overflow: auto;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: animasi 2s alternate;
}
#home .sosmed h3{
    margin: 0;
    padding: 0px;
}
#home .sosmed ol{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
#home ol h2{
    display: flex;
    flex-direction: row;
}
#home .sosmed li a{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.5s linear;
}
/* animation start */
@keyframes animasi{
    0%{
        margin-left: 300%;
        width: 100%;
    }
    50%{
        margin-left: -10%;
    }
    100%{
        margin-left: 0%;
    }
}
@keyframes animasi2{
    0%{
        margin-top: -300%;
    }
    100%{
        margin-top: 0%;
    }
}
/* animation end */
/*home end*/

/* skill start */
#skill{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}
#skill h1{
    text-align: center;
    margin-top: 60px;
}
#skill .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#skill .col{
    text-align: center;
    display: flex;
    padding: 20px;
    margin: 20px;
    width: 600px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}
#skill .info h1{
    margin-top: 20px;
}
/* skill end */

/* about start */
#about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#about h3{
    margin: 20px;
    text-align: center;
}
#about .row{
    width: 50%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(255, 136, 0);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
#about .row h3{
    margin-bottom: 0px;
}
/* about end */

/* contact start */
#contact{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s ease;
}
#contact form{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    height: 530px;
    width: 400px;
    padding: 5px;
    background-color: rgb(0, 0, 184);
}
#contact input{
    margin-bottom: 30px;
    width: 300px;
    background-color: transparent;
    border: none;
    border-bottom: solid rgba(255, 255, 255, 0.507);
    transition: all 0.5s ease;
}
#contact input:hover{
    border-bottom: solid white;
}
#contact textarea{
    width: 300px;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
#contact button{
    background-color: transparent;
    color: white;
    padding: 5px 20px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    border-color: white;
    transition: all 0.5s ease;
}
#contact button:hover{
    background-color: white;
    color: black;
}
/* contact end */

/* footer start */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #111;
    transition: all 0.5s ease;
}
/* footer end */

/* lightMode start */
.light{
    background-color: aliceblue;
    color: black;
}
.light #navbar{
    background-color: white;
    color: black;
}
.light #navbar li a{
    color: black;
}
#navbar li a:hover{
    color: rgb(255, 136, 0);
}
.light #navbar button{
    color: black;
}
.light #sidebar{
    background-color: rgb(240, 248, 255, 0.90);
}
.light #sidebar li a{
    color: black;
}
.light #sidebar button{
    color: black;
}
.light #home .sosmed li a{
    color: black;
}
#contact{
    color: white;
}
.light footer{
    background-color: white;
}
/* lightMode end */

/* androidMode start */
@media (max-width: 910px){
    #navbar ol{
        display: none;
    }
    #navbar button{
        display: none;
    }
    #navbar .menu{
        display: flex;
    }
    #sidebar{
        display: flex;
    }
    #home{
        height: max-content;
    }
    #home .row{
        flex-direction: column;
        width: 100%;
    }
    #home .col{
        width: 100%;
    }
    #skill{
        height: max-content;
    }
    #about h3{
        font-size: small;
    }
    #about .row{
        width: 90%;
        margin: 5px;
    }
}
@media(max-width: 500px){
    #home .image{
        height: 400px;
    }
    #home .desk{
        padding-bottom: 12px;
    }
    #home .desk h1, h2, h3{
        font-size: 18px;
    }
    /* #skill{
        height: max-content;
    } */
    #contact form{
        width: 100%;
    }
}
/* androidMode end */