*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #111;
}
#circle{
    content: "";
    z-index: -2;
    position: fixed;
    width: 30px;
    height: 30px;
    margin-top: 0;
    margin-left: 50%;
    background-color: aliceblue;
    border-radius: 50%;
}
@keyframes animasiLight{
    0%{
        border-radius: 50%;
        margin-top: 0;
        transform: rotate(0deg);
    }
    40%{
        border-radius: 50%;
    }
    70%{
        border-radius: 0;
        margin-top: 50vh;
    }
    75%{
        margin-top: 50vh;
        border-radius: 0;
        width: 30px;
        height: 30px;
    }
    80%{
        transform: rotate(360deg);
        width: 100%;
        height: 100%;
    }
    85%{
        margin-top: 0;
        margin-left: 0;
        transform: rotate(360deg);
        width: 100%;
        height: 100%;
        margin-left: 50%;
    }
    90%{
        margin-top: 0;
        margin-left: 0;
        transform: rotate(360deg);
        width: 100%;
        height: 100%;
        margin-left: 50%;
    }
    100%{
        margin-top: 0;
        margin-left: 0;
        transform: rotate(360deg);
        width: 100%;
        height: 300%;
        border-radius: 0;
    }
}
@keyframes animasiLightRev{
    100%{
        border-radius: 50%;
        margin-top: 0;
        transform: rotate(0deg);
    }
    60%{
        border-radius: 50%;
    }
    30%{
        border-radius: 0;
        margin-top: 50vh;
    }
    35%{
        margin-top: 50vh;
        border-radius: 0;
        width: 30px;
        height: 30px;
        transform: rotate(360deg);
    }
    20%{
        transform: rotate(360deg);
        width: 100%;
        height: 100%;
    }
    25%{
        margin-top: 0;
        margin-left: 0;
        transform: rotate(360deg);
        width: 100%;
        height: 100%;
        margin-left: 50%;
    }
    10%{
        margin-top: 0;
        margin-left: 0;
        transform: rotate(360deg);
        width: 100%;
        height: 100%;
        margin-left: 50%;
    }
    0%{
        margin-top: 0;
        margin-left: 0;
        transform: rotate(360deg);
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
strong{
    color: blue;
    text-shadow: 0px 0px 3px rgba(0, 0, 255, 0.404);
}
hr{
    width: 200px;
    height: 2px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 20px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #111;
}
::-webkit-scrollbar-thumb:hover{
    background: white;
}

/* navbar start */
nav{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: black;
    cursor: default;
    z-index: 2;
}
nav .container{
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
nav ol{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: end;
}
nav li a{
    text-decoration: none;
    margin: 5px;
    padding: 5px 15px;
    transition: all 0.5s linear;
}
nav li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px white;
}
nav button{
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    border: none;
}
nav button:hover{
    animation: forwards animasiSun 3s;
}
@keyframes animasiSun{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* navbar end */

/* menuBar start */
#menuBar{
    display: none;
    height: 100%;
    width: 100%;
    justify-content: end;
    align-items: center;
}
#menuBar .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
}
#menuBar h4{
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 300;
    transform: rotate(90deg);
}
.light #menuBar h4{
    color: white;
}
#menuBar .line1{
    margin-top: -20px;
}
#menuBar .line3{
    margin-top: 20px;
}
@keyframes line1{
    0%{
        margin-top: -20px;
    }
    100%{
        margin-top: 0;
    }
}
@keyframes line1rev{
    100%{
        margin-top: -20px;
    }
    0%{
        margin-top: 0;
    }
}
@keyframes line3{
    0%{
        margin-top: 20px;
    }
    100%{
        margin-top: 0;
    }
}
@keyframes line3rev{
    1000%{
        margin-top: 20px;
    }
    0%{
        margin-top: 0;
    }
}
/* menuBar end */

/* sidebar start */
#sidebar{
    z-index: 1;
    transition: all 0.5s linear;
    padding-top: 100px;
    position: fixed;
    width: 50%;
    left: -60%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.882);
}
#sidebar ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#sidebar li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 200px;
}
#sidebar li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.light #sidebar li a{
    color: white;
}
/* sidebar end */

/* home start */
#home{
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    cursor: default;
}
#home .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#home .col{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home .gambar{
    background-size: cover;
    background-position-y: -80px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: url("assets/profil.jpeg");
}
#home .gambar::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(255, 0, 81);
    background-color: rgb(255, 0, 81);
    animation: animasiProfilAfter infinite alternate 20s;
    transition: all 1s linear;
}
@keyframes animasiProfilAfter{
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(340deg);
    }
}
#home .sosmed{
    text-align: center;
}
#home .sosmed a{
    margin: 5px;
}
/* home end */

/* project start */
#projects{
    height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    cursor: default;
}
#projects .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#projects .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 80%;
}
#projects .col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    box-shadow: -5px 5px 10px black;
    margin: 10px;
    transition: transform .2s ease-in-out;
}
#projects #project1:hover, #projects #project2:hover{
    transform: scale(1.2);
    box-shadow: none;
}
#projects #project3::before, #projects #project4::before{
    content: "Belum ada project baru :(";
    color: blue;
    text-shadow: 0px 0px 3px blue;
    margin-top: 70px;
    transition: all 1s linear;
}
#projects #project3::after, #projects #project4::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: blue;
    box-shadow: 0px 0px 30px blue;
    animation: alternate infinite animasiKotak 10s;
    transition: all 1s linear;
}
@keyframes animasiKotak{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#projects a{
    text-decoration: none;
}
#projects #project1{
    background-image: url("assets/learnCode.png");
    background-size: cover;
}
#projects #project2{
    background-image: url("assets/fourNolep.png");
    background-size: cover;
}
/* project end */

/* about start */
#about{
    height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    overflow-x: hidden;
    cursor: default;
}
#about .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#about .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#about button{
    margin: 5px;
    padding: 5px;
    width: 150px;
    background-color: transparent;
    border: solid 2px white;
    transition: all 0.5s linear;
    cursor: pointer;
}
#about button:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 20px white;
}
#about .wordAngga, #about .wordAngga .angga{
    width: 50%;
    background-color: rgb(255, 0, 81);
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0px 0px 30px rgba(255, 0, 81, 0);
    color: white;
    transition: all 0.5s linear;
}
#about .wordAngga{
    margin-left: -200%;
}
@keyframes wordAngga{
    0%{
        margin-left: -200%;
        box-shadow: 0px 0px 30px rgba(255, 0, 81, 0);
    }
    80%{
        margin-left: 0;
        box-shadow: 0px 0px 30px rgba(255, 0, 81, 0);
    }
    100%{
        margin-left: 0;
        box-shadow: 0px 0px 30px rgb(255, 0, 81);
    }
}
@keyframes wordAngga2{
    0%{
        margin-left: 0;
        box-shadow: 0px 0px 30px rgb(255, 0, 81);
    }
    20%{
        margin-left: 0;
        box-shadow: 0px 0px 30px rgba(255, 0, 81, 0);
    }
    100%{
        margin-left: -200%;
    }
}
#about .wordAngga .angga{
    margin-top: 0;
}
#about .wordTeam{
    width: 50%;
    background-color: blue;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 255, 0);
    color: white;
    transition: all 0.5s linear;
    margin-right: -200%;
}
@keyframes wordTeam{
    0%{
        margin-right: -200%;
        box-shadow: 0px 0px 30px rgba(0, 0, 255, 0);
    }
    80%{
        margin-right: 0;
        box-shadow: 0px 0px 30px rgba(0, 0, 255, 0);
    }
    100%{
        margin-right: 0;
        box-shadow: 0px 0px 30px rgb(0, 0, 255);
    }
}
@keyframes wordTeam2{
    0%{
        margin-right: 0;
        box-shadow: 0px 0px 30px rgb(0, 0, 255);
    }
    20%{
        margin-right: 0;
        box-shadow: 0px 0px 30px rgba(0, 0, 255, 0);
    }
    100%{
        margin-right: -200%;
    }
}
/* about end */

/* contact start */
#contact{
    height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
}
#contact .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact form{
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: blue;
    text-align: center;
}
#contact input{
    width: 100%;
    margin: 0px 0px 15px 0px;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px rgba(255, 255, 255, 0.478);
    transition: all 0.5s linear;
}
#contact input:hover{
    border-bottom: solid 2px rgb(255, 255, 255);
}
#contact textarea{
    width: 100%;
    margin: 0px 0px 15px 0px;
    background-color: rgb(0, 0, 180);
}
#contact button{
    background-color: transparent;
    border: solid 2px white;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s linear;
}
#contact button:hover{
    background-color: white;
    color: black;
}
/* contact end */

/* footer start */
footer{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* footer end */

/* lightMode start */
.light *{
    color: black;
    transition: color 3s ease;
}
.light strong{
    color: blue;
}
.light hr{
    background-color: black;
}
.light nav li a{
    transition: all 0.5s linear;
}
.light nav li a:hover{
    color: black;
}
.light nav h1, .light nav li a, .light nav #sun i{
    color: white;
}
.light #home .gambar::after{
    background-color: blue;
    box-shadow: 1px 1px 30px blue;
}
.light #projects #project3::before, .light #projects #project4::before{
    color: rgb(255, 0, 81);
    text-shadow: 0px 0px 3px rgb(255, 0, 81);
}
.light #projects #project3::after, .light #projects #project4::after{
    background-color: rgb(255, 0, 81);
    box-shadow: 0px 0px 30px rgb(255, 0, 81);
}
.light #about button{
    border: 2px black solid;
}
.light #about button:hover{
    background-color: black;
    color: white;
    box-shadow: 0px 0px 30px black;
}
.light #contact form label, .light #contact form button{
    color: white;
}
.light #contact form button:hover{
    color: black;
}
.light footer h4{
    color: white;
}
/* lightMode end */

/* display tab start */
@media(max-width:1054px){
    #home .col{
        width: 100%;
    }
    #projects{
        height: max-content;
        margin-bottom: 100px;
    }
    #projects .row{
        width: 100%;
    }
    #projects #project1:hover, #projects #project2:hover{
        transform: none;
    }
    #about{
        height: max-content;
        margin-bottom: 100px;
    }
}
@media(max-width:768px){
    nav ol{
        display: none;
    }
    #menuBar{
        display: flex;
    }
    #home{
        height: max-content;
    }
    #home .col{
        margin-bottom: 50px;
    }
}
/* display tab end */

/* display hp start */
@media(max-width:361px){
    #home{
        padding-top: 150px;
        font-size: 12px;
    }
    #home .gambar{
        width: 300px;
        height: 300px;
    }
    #home .gambar::after{
        width: 300px;
        height: 300px;
    }
    #home .sosmed h2{
        font-size: 25px;
    }
    #projects{
        overflow-x: hidden;
    }
    #projects .col{
        max-width: 100%;
        margin: 10px 0;
    }
    #about .wordAngga{
        width: 70%;
    }
    #about .wordTeam{
        width: 70%;
    }
}
/* display hp end */